In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import scipy.stats as st
from scipy.stats import linregress
import re
from pprint import pprint
import country_converter as coco
import datetime
# cc = coco.CountryConverter()
# from geopy.exc import GeocoderTimedOut 
# from geopy.geocoders import Nominatim 
from config import gkey

In [2]:
countries = 'https://api.covid19api.com/countries'

In [3]:
response_countries = requests.get(countries).json()
pprint(response_countries)

[{'Country': 'Greece', 'ISO2': 'GR', 'Slug': 'greece'},
 {'Country': 'Mozambique', 'ISO2': 'MZ', 'Slug': 'mozambique'},
 {'Country': 'Sudan', 'ISO2': 'SD', 'Slug': 'sudan'},
 {'Country': 'Mexico', 'ISO2': 'MX', 'Slug': 'mexico'},
 {'Country': 'Myanmar', 'ISO2': 'MM', 'Slug': 'myanmar'},
 {'Country': 'Niger', 'ISO2': 'NE', 'Slug': 'niger'},
 {'Country': 'Oman', 'ISO2': 'OM', 'Slug': 'oman'},
 {'Country': 'Tonga', 'ISO2': 'TO', 'Slug': 'tonga'},
 {'Country': 'Korea (North)', 'ISO2': 'KP', 'Slug': 'korea-north'},
 {'Country': 'Liechtenstein', 'ISO2': 'LI', 'Slug': 'liechtenstein'},
 {'Country': 'Maldives', 'ISO2': 'MV', 'Slug': 'maldives'},
 {'Country': 'Monaco', 'ISO2': 'MC', 'Slug': 'monaco'},
 {'Country': 'Guadeloupe', 'ISO2': 'GP', 'Slug': 'guadeloupe'},
 {'Country': 'Macedonia, Republic of', 'ISO2': 'MK', 'Slug': 'macedonia'},
 {'Country': 'Saint Kitts and Nevis',
  'ISO2': 'KN',
  'Slug': 'saint-kitts-and-nevis'},
 {'Country': 'Romania', 'ISO2': 'RO', 'Slug': 'romania'},
 {'Country': 'Saint Helena', 'ISO2': 'SH', 'Slug': 'saint-helena'},
 {'Country': 'Saint-Martin (French part)',
  'ISO2': 'MF',
  'Slug': 'saint-martin-french-part'},
 {'Country': 'Guam', 'ISO2': 'GU', 'Slug': 'guam'},
 {'Country': 'Lebanon', 'ISO2': 'LB', 'Slug': 'lebanon'},
 {'Country': 'South Africa', 'ISO2': 'ZA', 'Slug': 'south-africa'},
 {'Country': 'Virgin Islands, US', 'ISO2': 'VI', 'Slug': 'virgin-islands'},
 {'Country': 'Mali', 'ISO2': 'ML', 'Slug': 'mali'},
 {'Country': 'Nauru', 'ISO2': 'NR', 'Slug': 'nauru'},
 {'Country': 'Armenia', 'ISO2': 'AM', 'Slug': 'armenia'},
 {'Country': 'Indonesia', 'ISO2': 'ID', 'Slug': 'indonesia'},
 {'Country': 'Ireland', 'ISO2': 'IE', 'Slug': 'ireland'},
 {'Country': 'Macao, SAR China', 'ISO2': 'MO', 'Slug': 'macao-sar-china'},
 {'Country': 'Austria', 'ISO2': 'AT', 'Slug': 'austria'},
 {'Country': 'Norway', 'ISO2': 'NO', 'Slug': 'norway'},
 {'Country': 'Portugal', 'ISO2': 'PT', 'Slug': 'portugal'},
 {'Country': 'Qatar', 'ISO2': 'QA', 'Slug': 'qatar'},
 {'Country': 'Sierra Leone', 'ISO2': 'SL', 'Slug': 'sierra-leone'},
 {'Country': 'Thailand', 'ISO2': 'TH', 'Slug': 'thailand'},
 {'Country': 'American Samoa', 'ISO2': 'AS', 'Slug': 'american-samoa'},
 {'Country': 'Bahrain', 'ISO2': 'BH', 'Slug': 'bahrain'},
 {'Country': 'Bosnia and Herzegovina',
  'ISO2': 'BA',
  'Slug': 'bosnia-and-herzegovina'},
 {'Country': 'British Indian Ocean Territory',
  'ISO2': 'IO',
  'Slug': 'british-indian-ocean-territory'},
 {'Country': 'Poland', 'ISO2': 'PL', 'Slug': 'poland'},
 {'Country': 'Namibia', 'ISO2': 'NA', 'Slug': 'namibia'},
 {'Country': 'Réunion', 'ISO2': 'RE', 'Slug': 'réunion'},
 {'Country': 'Antarctica', 'ISO2': 'AQ', 'Slug': 'antarctica'},
 {'Country': 'Aruba', 'ISO2': 'AW', 'Slug': 'aruba'},
 {'Country': 'Czech Republic', 'ISO2': 'CZ', 'Slug': 'czech-republic'},
 {'Country': 'Grenada', 'ISO2': 'GD', 'Slug': 'grenada'},
 {'Country': 'Montserrat', 'ISO2': 'MS', 'Slug': 'montserrat'},
 {'Country': 'Eritrea', 'ISO2': 'ER', 'Slug': 'eritrea'},
 {'Country': 'Jamaica', 'ISO2': 'JM', 'Slug': 'jamaica'},
 {'Country': 'El Salvador', 'ISO2': 'SV', 'Slug': 'el-salvador'},
 {'Country': 'Georgia', 'ISO2': 'GE', 'Slug': 'georgia'},
 {'Country': 'Tuvalu', 'ISO2': 'TV', 'Slug': 'tuvalu'},
 {'Country': 'Pakistan', 'ISO2': 'PK', 'Slug': 'pakistan'},
 {'Country': 'United Arab Emirates',
  'ISO2': 'AE',
  'Slug': 'united-arab-emirates'},
 {'Country': 'Vanuatu', 'ISO2': 'VU', 'Slug': 'vanuatu'},
 {'Country': 'Burkina Faso', 'ISO2': 'BF', 'Slug': 'burkina-faso'},
 {'Country': 'Moldova', 'ISO2': 'MD', 'Slug': 'moldova'},
 {'Country': 'Malawi', 'ISO2': 'MW', 'Slug': 'malawi'},
 {'Country': 'Switzerland', 'ISO2': 'CH', 'Slug': 'switzerland'},
 {'Country': 'Syrian Arab Republic (Syria)', 'ISO2': 'SY', 'Slug': 'syria'},
 {'Country': 'Saint Pierre and Miquelon',
  'ISO2': 'PM',
  'Slug': 'saint-pierre-and-miquelon'},
 {'Country': 'Senegal', 'ISO2': 'SN', 'Slug': 'senegal'},
 {'Country': 'South Georgia and the South Sandwich Islands',
  'ISO2': 'GS',
  'Slug': 'south-georgia-and-the-south-sandwich-islands'},
 {'Country': 'Anguilla', 'ISO2': 'AI', 'Slug': 'anguilla'},
 {'Country': 'Cyprus', 'ISO2': 'CY', 'Slug': 'cyprus'},
 {'Country': "Côte d'Ivoire", 'ISO2': 'CI', 'Slug': 'cote-divoire'},
 {'Country': 'Guernsey', 'ISO2': 'GG', 'Slug': 'guernsey'},
 {'Country': 'Viet Nam', 'ISO2': 'VN', 'Slug': 'vietnam'},
 {'Country': 'Argentina', 'ISO2': 'AR', 'Slug': 'argentina'},
 {'Country': 'Guinea', 'ISO2': 'GN', 'Slug': 'guinea'},
 {'Country': 'Korea (South)', 'ISO2': 'KR', 'Slug': 'korea-south'},
 {'Country': 'Western Sahara', 'ISO2': 'EH', 'Slug': 'western-sahara'},
 {'Country': 'Svalbard and Jan Mayen Islands',
  'ISO2': 'SJ',
  'Slug': 'svalbard-and-jan-mayen-islands'},
 {'Country': 'Dominican Republic', 'ISO2': 'DO', 'Slug': 'dominican-republic'},
 {'Country': 'Iraq', 'ISO2': 'IQ', 'Slug': 'iraq'},
 {'Country': 'Jersey', 'ISO2': 'JE', 'Slug': 'jersey'},
 {'Country': 'Sri Lanka', 'ISO2': 'LK', 'Slug': 'sri-lanka'},
 {'Country': 'Cocos (Keeling) Islands',
  'ISO2': 'CC',
  'Slug': 'cocos-keeling-islands'},
 {'Country': 'Costa Rica', 'ISO2': 'CR', 'Slug': 'costa-rica'},
 {'Country': 'Haiti', 'ISO2': 'HT', 'Slug': 'haiti'},
 {'Country': 'Kyrgyzstan', 'ISO2': 'KG', 'Slug': 'kyrgyzstan'},
 {'Country': 'Peru', 'ISO2': 'PE', 'Slug': 'peru'},
 {'Country': 'Congo (Brazzaville)', 'ISO2': 'CG', 'Slug': 'congo-brazzaville'},
 {'Country': 'United Kingdom', 'ISO2': 'GB', 'Slug': 'united-kingdom'},
 {'Country': 'Algeria', 'ISO2': 'DZ', 'Slug': 'algeria'},
 {'Country': 'Cayman Islands', 'ISO2': 'KY', 'Slug': 'cayman-islands'},
 {'Country': 'Ethiopia', 'ISO2': 'ET', 'Slug': 'ethiopia'},
 {'Country': 'Panama', 'ISO2': 'PA', 'Slug': 'panama'},
 {'Country': 'Slovakia', 'ISO2': 'SK', 'Slug': 'slovakia'},
 {'Country': 'Latvia', 'ISO2': 'LV', 'Slug': 'latvia'},
 {'Country': 'Serbia', 'ISO2': 'RS', 'Slug': 'serbia'},
 {'Country': 'Angola', 'ISO2': 'AO', 'Slug': 'angola'},
 {'Country': 'Cook Islands', 'ISO2': 'CK', 'Slug': 'cook-islands'},
 {'Country': 'Ghana', 'ISO2': 'GH', 'Slug': 'ghana'},
 {'Country': 'Kuwait', 'ISO2': 'KW', 'Slug': 'kuwait'},
 {'Country': 'India', 'ISO2': 'IN', 'Slug': 'india'},
 {'Country': 'Netherlands', 'ISO2': 'NL', 'Slug': 'netherlands'},
 {'Country': 'Tokelau', 'ISO2': 'TK', 'Slug': 'tokelau'},
 {'Country': 'Afghanistan', 'ISO2': 'AF', 'Slug': 'afghanistan'},
 {'Country': 'ALA Aland Islands', 'ISO2': 'AX', 'Slug': 'ala-aland-islands'},
 {'Country': 'Burundi', 'ISO2': 'BI', 'Slug': 'burundi'},
 {'Country': 'French Southern Territories',
  'ISO2': 'TF',
  'Slug': 'french-southern-territories'},
 {'Country': 'Guatemala', 'ISO2': 'GT', 'Slug': 'guatemala'},
 {'Country': 'Uruguay', 'ISO2': 'UY', 'Slug': 'uruguay'},
 {'Country': 'Lithuania', 'ISO2': 'LT', 'Slug': 'lithuania'},
 {'Country': 'Samoa', 'ISO2': 'WS', 'Slug': 'samoa'},
 {'Country': 'Togo', 'ISO2': 'TG', 'Slug': 'togo'},
 {'Country': 'Turkey', 'ISO2': 'TR', 'Slug': 'turkey'},
 {'Country': 'Turkmenistan', 'ISO2': 'TM', 'Slug': 'turkmenistan'},
 {'Country': 'Brunei Darussalam', 'ISO2': 'BN', 'Slug': 'brunei'},
 {'Country': 'Canada', 'ISO2': 'CA', 'Slug': 'canada'},
 {'Country': 'Mongolia', 'ISO2': 'MN', 'Slug': 'mongolia'},
 {'Country': 'Saint Lucia', 'ISO2': 'LC', 'Slug': 'saint-lucia'},
 {'Country': 'Uganda', 'ISO2': 'UG', 'Slug': 'uganda'},
 {'Country': 'Cameroon', 'ISO2': 'CM', 'Slug': 'cameroon'},
 {'Country': 'Finland', 'ISO2': 'FI', 'Slug': 'finland'},
 {'Country': 'Greenland', 'ISO2': 'GL', 'Slug': 'greenland'},
 {'Country': 'Iran, Islamic Republic of', 'ISO2': 'IR', 'Slug': 'iran'},
 {'Country': 'Morocco', 'ISO2': 'MA', 'Slug': 'morocco'},
 {'Country': 'Belarus', 'ISO2': 'BY', 'Slug': 'belarus'},
 {'Country': 'Cape Verde', 'ISO2': 'CV', 'Slug': 'cape-verde'},
 {'Country': 'Comoros', 'ISO2': 'KM', 'Slug': 'comoros'},
 {'Country': 'Falkland Islands (Malvinas)',
  'ISO2': 'FK',
  'Slug': 'falkland-islands-malvinas'},
 {'Country': 'Solomon Islands', 'ISO2': 'SB', 'Slug': 'solomon-islands'},
 {'Country': 'Colombia', 'ISO2': 'CO', 'Slug': 'colombia'},
 {'Country': 'Saint-Barthélemy', 'ISO2': 'BL', 'Slug': 'saint-barthélemy'},
 {'Country': 'Gambia', 'ISO2': 'GM', 'Slug': 'gambia'},
 {'Country': 'Lao PDR', 'ISO2': 'LA', 'Slug': 'lao-pdr'},
 {'Country': 'Malaysia', 'ISO2': 'MY', 'Slug': 'malaysia'},
 {'Country': 'Malta', 'ISO2': 'MT', 'Slug': 'malta'},
 {'Country': 'Martinique', 'ISO2': 'MQ', 'Slug': 'martinique'},
 {'Country': 'Bahamas', 'ISO2': 'BS', 'Slug': 'bahamas'},
 {'Country': 'Saudi Arabia', 'ISO2': 'SA', 'Slug': 'saudi-arabia'},
 {'Country': 'Zimbabwe', 'ISO2': 'ZW', 'Slug': 'zimbabwe'},
 {'Country': 'Azerbaijan', 'ISO2': 'AZ', 'Slug': 'azerbaijan'},
 {'Country': 'Hungary', 'ISO2': 'HU', 'Slug': 'hungary'},
 {'Country': 'Isle of Man', 'ISO2': 'IM', 'Slug': 'isle-of-man'},
 {'Country': 'Slovenia', 'ISO2': 'SI', 'Slug': 'slovenia'},
 {'Country': 'Turks and Caicos Islands',
  'ISO2': 'TC',
  'Slug': 'turks-and-caicos-islands'},
 {'Country': 'Bermuda', 'ISO2': 'BM', 'Slug': 'bermuda'},
 {'Country': 'Guinea-Bissau', 'ISO2': 'GW', 'Slug': 'guinea-bissau'},
 {'Country': 'Tunisia', 'ISO2': 'TN', 'Slug': 'tunisia'},
 {'Country': 'Venezuela (Bolivarian Republic)',
  'ISO2': 'VE',
  'Slug': 'venezuela'},
 {'Country': 'Tanzania, United Republic of', 'ISO2': 'TZ', 'Slug': 'tanzania'},
 {'Country': 'Bangladesh', 'ISO2': 'BD', 'Slug': 'bangladesh'},
 {'Country': 'Djibouti', 'ISO2': 'DJ', 'Slug': 'djibouti'},
 {'Country': 'Equatorial Guinea', 'ISO2': 'GQ', 'Slug': 'equatorial-guinea'},
 {'Country': 'Palestinian Territory', 'ISO2': 'PS', 'Slug': 'palestine'},
 {'Country': 'Albania', 'ISO2': 'AL', 'Slug': 'albania'},
 {'Country': 'Chad', 'ISO2': 'TD', 'Slug': 'chad'},
 {'Country': 'Swaziland', 'ISO2': 'SZ', 'Slug': 'swaziland'},
 {'Country': 'Andorra', 'ISO2': 'AD', 'Slug': 'andorra'},
 {'Country': 'Cambodia', 'ISO2': 'KH', 'Slug': 'cambodia'},
 {'Country': 'Germany', 'ISO2': 'DE', 'Slug': 'germany'},
 {'Country': 'Papua New Guinea', 'ISO2': 'PG', 'Slug': 'papua-new-guinea'},
 {'Country': 'Puerto Rico', 'ISO2': 'PR', 'Slug': 'puerto-rico'},
 {'Country': 'Micronesia, Federated States of',
  'ISO2': 'FM',
  'Slug': 'micronesia'},
 {'Country': 'Singapore', 'ISO2': 'SG', 'Slug': 'singapore'},
 {'Country': 'Dominica', 'ISO2': 'DM', 'Slug': 'dominica'},
 {'Country': 'Montenegro', 'ISO2': 'ME', 'Slug': 'montenegro'},
 {'Country': 'Russian Federation', 'ISO2': 'RU', 'Slug': 'russia'},
 {'Country': 'Denmark', 'ISO2': 'DK', 'Slug': 'denmark'},
 {'Country': 'Honduras', 'ISO2': 'HN', 'Slug': 'honduras'},
 {'Country': 'Nigeria', 'ISO2': 'NG', 'Slug': 'nigeria'},
 {'Country': 'San Marino', 'ISO2': 'SM', 'Slug': 'san-marino'},
 {'Country': 'Somalia', 'ISO2': 'SO', 'Slug': 'somalia'},
 {'Country': 'Belgium', 'ISO2': 'BE', 'Slug': 'belgium'},
 {'Country': 'Bulgaria', 'ISO2': 'BG', 'Slug': 'bulgaria'},
 {'Country': 'France', 'ISO2': 'FR', 'Slug': 'france'},
 {'Country': 'Tajikistan', 'ISO2': 'TJ', 'Slug': 'tajikistan'},
 {'Country': 'Timor-Leste', 'ISO2': 'TL', 'Slug': 'timor-leste'},
 {'Country': 'Australia', 'ISO2': 'AU', 'Slug': 'australia'},
 {'Country': 'US Minor Outlying Islands',
  'ISO2': 'UM',
  'Slug': 'us-minor-outlying-islands'},
 {'Country': 'Holy See (Vatican City State)',
  'ISO2': 'VA',
  'Slug': 'holy-see-vatican-city-state'},
 {'Country': 'Spain', 'ISO2': 'ES', 'Slug': 'spain'},
 {'Country': 'Luxembourg', 'ISO2': 'LU', 'Slug': 'luxembourg'},
 {'Country': 'Nepal', 'ISO2': 'NP', 'Slug': 'nepal'},
 {'Country': 'New Zealand', 'ISO2': 'NZ', 'Slug': 'new-zealand'},
 {'Country': 'Barbados', 'ISO2': 'BB', 'Slug': 'barbados'},
 {'Country': 'Croatia', 'ISO2': 'HR', 'Slug': 'croatia'},
 {'Country': 'Gibraltar', 'ISO2': 'GI', 'Slug': 'gibraltar'},
 {'Country': 'Lesotho', 'ISO2': 'LS', 'Slug': 'lesotho'},
 {'Country': 'Liberia', 'ISO2': 'LR', 'Slug': 'liberia'},
 {'Country': 'United States of America', 'ISO2': 'US', 'Slug': 'united-states'},
 {'Country': 'Yemen', 'ISO2': 'YE', 'Slug': 'yemen'},
 {'Country': 'Christmas Island', 'ISO2': 'CX', 'Slug': 'christmas-island'},
 {'Country': 'Ecuador', 'ISO2': 'EC', 'Slug': 'ecuador'},
 {'Country': 'Sweden', 'ISO2': 'SE', 'Slug': 'sweden'},
 {'Country': 'Taiwan, Republic of China', 'ISO2': 'TW', 'Slug': 'taiwan'},
 {'Country': 'Bhutan', 'ISO2': 'BT', 'Slug': 'bhutan'},
 {'Country': 'Gabon', 'ISO2': 'GA', 'Slug': 'gabon'},
 {'Country': 'Hong Kong, SAR China',
  'ISO2': 'HK',
  'Slug': 'hong-kong-sar-china'},
 {'Country': 'Uzbekistan', 'ISO2': 'UZ', 'Slug': 'uzbekistan'},
 {'Country': 'Central African Republic',
  'ISO2': 'CF',
  'Slug': 'central-african-republic'},
 {'Country': 'Chile', 'ISO2': 'CL', 'Slug': 'chile'},
 {'Country': 'Heard and Mcdonald Islands',
  'ISO2': 'HM',
  'Slug': 'heard-and-mcdonald-islands'},
 {'Country': 'Israel', 'ISO2': 'IL', 'Slug': 'israel'},
 {'Country': 'Mayotte', 'ISO2': 'YT', 'Slug': 'mayotte'},
 {'Country': 'Bouvet Island', 'ISO2': 'BV', 'Slug': 'bouvet-island'},
 {'Country': 'Netherlands Antilles',
  'ISO2': 'AN',
  'Slug': 'netherlands-antilles'},
 {'Country': 'French Guiana', 'ISO2': 'GF', 'Slug': 'french-guiana'},
 {'Country': 'French Polynesia', 'ISO2': 'PF', 'Slug': 'french-polynesia'},
 {'Country': 'Jordan', 'ISO2': 'JO', 'Slug': 'jordan'},
 {'Country': 'Pitcairn', 'ISO2': 'PN', 'Slug': 'pitcairn'},
 {'Country': 'Antigua and Barbuda',
  'ISO2': 'AG',
  'Slug': 'antigua-and-barbuda'},
 {'Country': 'Palau', 'ISO2': 'PW', 'Slug': 'palau'},
 {'Country': 'Republic of Kosovo', 'ISO2': 'XK', 'Slug': 'kosovo'},
 {'Country': 'Botswana', 'ISO2': 'BW', 'Slug': 'botswana'},
 {'Country': 'South Sudan', 'ISO2': 'SS', 'Slug': 'south-sudan'},
 {'Country': 'Marshall Islands', 'ISO2': 'MH', 'Slug': 'marshall-islands'},
 {'Country': 'Nicaragua', 'ISO2': 'NI', 'Slug': 'nicaragua'},
 {'Country': 'Zambia', 'ISO2': 'ZM', 'Slug': 'zambia'},
 {'Country': 'Rwanda', 'ISO2': 'RW', 'Slug': 'rwanda'},
 {'Country': 'Cuba', 'ISO2': 'CU', 'Slug': 'cuba'},
 {'Country': 'Guyana', 'ISO2': 'GY', 'Slug': 'guyana'},
 {'Country': 'Mauritania', 'ISO2': 'MR', 'Slug': 'mauritania'},
 {'Country': 'Philippines', 'ISO2': 'PH', 'Slug': 'philippines'},
 {'Country': 'Benin', 'ISO2': 'BJ', 'Slug': 'benin'},
 {'Country': 'Egypt', 'ISO2': 'EG', 'Slug': 'egypt'},
 {'Country': 'Estonia', 'ISO2': 'EE', 'Slug': 'estonia'},
 {'Country': 'Kenya', 'ISO2': 'KE', 'Slug': 'kenya'},
 {'Country': 'Iceland', 'ISO2': 'IS', 'Slug': 'iceland'},
 {'Country': 'Japan', 'ISO2': 'JP', 'Slug': 'japan'},
 {'Country': 'British Virgin Islands',
  'ISO2': 'VG',
  'Slug': 'british-virgin-islands'},
 {'Country': 'Niue', 'ISO2': 'NU', 'Slug': 'niue'},
 {'Country': 'Paraguay', 'ISO2': 'PY', 'Slug': 'paraguay'},
 {'Country': 'Suriname', 'ISO2': 'SR', 'Slug': 'suriname'},
 {'Country': 'Saint Vincent and Grenadines',
  'ISO2': 'VC',
  'Slug': 'saint-vincent-and-the-grenadines'},
 {'Country': 'Sao Tome and Principe',
  'ISO2': 'ST',
  'Slug': 'sao-tome-and-principe'},
 {'Country': 'Ukraine', 'ISO2': 'UA', 'Slug': 'ukraine'},
 {'Country': 'Belize', 'ISO2': 'BZ', 'Slug': 'belize'},
 {'Country': 'Faroe Islands', 'ISO2': 'FO', 'Slug': 'faroe-islands'},
 {'Country': 'Libya', 'ISO2': 'LY', 'Slug': 'libya'},
 {'Country': 'Congo (Kinshasa)', 'ISO2': 'CD', 'Slug': 'congo-kinshasa'},
 {'Country': 'Kiribati', 'ISO2': 'KI', 'Slug': 'kiribati'},
 {'Country': 'Mauritius', 'ISO2': 'MU', 'Slug': 'mauritius'},
 {'Country': 'Italy', 'ISO2': 'IT', 'Slug': 'italy'},
 {'Country': 'Madagascar', 'ISO2': 'MG', 'Slug': 'madagascar'},
 {'Country': 'Seychelles', 'ISO2': 'SC', 'Slug': 'seychelles'},
 {'Country': 'Northern Mariana Islands',
  'ISO2': 'MP',
  'Slug': 'northern-mariana-islands'},
 {'Country': 'Trinidad and Tobago',
  'ISO2': 'TT',
  'Slug': 'trinidad-and-tobago'},
 {'Country': 'Brazil', 'ISO2': 'BR', 'Slug': 'brazil'},
 {'Country': 'Fiji', 'ISO2': 'FJ', 'Slug': 'fiji'},
 {'Country': 'Kazakhstan', 'ISO2': 'KZ', 'Slug': 'kazakhstan'},
 {'Country': 'New Caledonia', 'ISO2': 'NC', 'Slug': 'new-caledonia'},
 {'Country': 'Norfolk Island', 'ISO2': 'NF', 'Slug': 'norfolk-island'},
 {'Country': 'Wallis and Futuna Islands',
  'ISO2': 'WF',
  'Slug': 'wallis-and-futuna-islands'},
 {'Country': 'Bolivia', 'ISO2': 'BO', 'Slug': 'bolivia'},
 {'Country': 'China', 'ISO2': 'CN', 'Slug': 'china'}]

In [4]:
len(response_countries)

248

In [5]:
name = []
slug = []
ISO2 = []
for i in range(len(response_countries)):
    name.append(response_countries[i]["Country"])
    slug.append(response_countries[i]["Slug"])
    ISO2.append(response_countries[i]["ISO2"])

countries_slug_df = pd.DataFrame({"Entity": name,
                                 "slug": slug,
                                 "ISO2": ISO2})
countries_slug_df.head()

       Entity        slug ISO2
0      Greece      greece   GR
1  Mozambique  mozambique   MZ
2       Sudan       sudan   SD
3      Mexico      mexico   MX
4     Myanmar     myanmar   MM

In [6]:
countries_slug_df.sort_values(by = ["Entity"], inplace = True, ignore_index = True)
countries_slug_df.head()

              Entity               slug ISO2
0  ALA Aland Islands  ala-aland-islands   AX
1        Afghanistan        afghanistan   AF
2            Albania            albania   AL
3            Algeria            algeria   DZ
4     American Samoa     american-samoa   AS

In [ ]:
countries_slug_df.to_csv("countries_raw.csv")

In [7]:
len(countries_slug_df)

248

In [ ]:
countries_slug_df.describe()

In [8]:
entity1= list(set(countries_slug_df["Entity"]))
standard_names = coco.convert(names=entity1, to='name_short')
standardized_names1_df = pd.DataFrame({"Entity" : entity1,
                                      "standard_names": standard_names}).sort_values(by = "Entity").reset_index(drop = True)
standardized_names1_df.head()

Netherlands Antilles not found in regex

              Entity  standard_names
0  ALA Aland Islands   Aland Islands
1        Afghanistan     Afghanistan
2            Albania         Albania
3            Algeria         Algeria
4     American Samoa  American Samoa

In [9]:
std_countries_slug_df = pd.merge(countries_slug_df, standardized_names1_df, how = "left", left_on='Entity', right_on='Entity')
std_countries_slug_df.sort_values(by = "Entity", inplace = True)
std_countries_slug_df.head()

              Entity               slug ISO2  standard_names
0  ALA Aland Islands  ala-aland-islands   AX   Aland Islands
1        Afghanistan        afghanistan   AF     Afghanistan
2            Albania            albania   AL         Albania
3            Algeria            algeria   DZ         Algeria
4     American Samoa     american-samoa   AS  American Samoa

In [ ]:
std_countries_slug_df.to_csv("countries_slug.csv")

store response_countries in to a df.
Import csv into a df.
parse the country name column to add hyphens replacing spaces.
do a lookup on response_countries df to get the slugs.
create for loop to check all the slugs and make separate api calls.

In [10]:
stringency_df = pd.read_csv("covid-stringency-index.csv")
stringency_df.head()

        Entity Code      Date  stringency_index
0  Afghanistan  AFG  1/1/2020               0.0
1  Afghanistan  AFG  1/2/2020               0.0
2  Afghanistan  AFG  1/3/2020               0.0
3  Afghanistan  AFG  1/4/2020               0.0
4  Afghanistan  AFG  1/5/2020               0.0

In [ ]:
len(stringency_df)

In [11]:
stringency_df["Entity"].nunique()

181

In [12]:
stringency_df['month'] = pd.DatetimeIndex(stringency_df['Date']).month
stringency_df['year'] = pd.DatetimeIndex(stringency_df['Date']).year
stringency_df.head()

        Entity Code      Date  stringency_index  month  year
0  Afghanistan  AFG  1/1/2020               0.0      1  2020
1  Afghanistan  AFG  1/2/2020               0.0      1  2020
2  Afghanistan  AFG  1/3/2020               0.0      1  2020
3  Afghanistan  AFG  1/4/2020               0.0      1  2020
4  Afghanistan  AFG  1/5/2020               0.0      1  2020

In [13]:
stringency_df.loc[stringency_df['Entity'] == "Timor", 'Entity'] = "Timor-leste"

In [ ]:
stringency_df.describe()

In [ ]:
stringency_df.loc[stringency_df['Entity'] == "Timor-leste"]

In [14]:
entity2= list(set(stringency_df["Entity"]))
standard_names2 = coco.convert(names=entity2, to='name_short')
standardized_names2_df = pd.DataFrame({"Entity" : entity2,
                                      "standard_names": standard_names2}).sort_values(by = "Entity").reset_index(drop = True)
standardized_names2_df.head(10)

        Entity standard_names
0  Afghanistan    Afghanistan
1      Albania        Albania
2      Algeria        Algeria
3      Andorra        Andorra
4       Angola         Angola
5    Argentina      Argentina
6        Aruba          Aruba
7    Australia      Australia
8      Austria        Austria
9   Azerbaijan     Azerbaijan

In [15]:
cleaned_stringency_df = stringency_df.groupby(by = ["Entity", "Code", "month", "year"], as_index = False)["stringency_index"].mean()
cleaned_stringency_df.head(-10)

           Entity Code  month  year  stringency_index
0     Afghanistan  AFG      1  2020          0.000000
1     Afghanistan  AFG      2  2020          2.010690
2     Afghanistan  AFG      3  2020         40.831935
3     Afghanistan  AFG      4  2020         80.740000
4     Afghanistan  AFG      5  2020         84.260000
...           ...  ...    ...   ...               ...
2132       Zambia  ZMB     10  2020         45.818387
2133       Zambia  ZMB     11  2020         45.370000
2134       Zambia  ZMB     12  2020         45.370000
2135     Zimbabwe  ZWE      1  2020          1.254194
2136     Zimbabwe  ZWE      2  2020          8.330000

[2137 rows x 5 columns]

In [16]:
std_stringency_df = pd.merge(cleaned_stringency_df, standardized_names2_df, how = "left", left_on='Entity', right_on='Entity')
std_stringency_df.sort_values(by = "Entity", inplace = True)
std_stringency_df.head()

         Entity Code  month  year  stringency_index standard_names
0   Afghanistan  AFG      1  2020          0.000000    Afghanistan
10  Afghanistan  AFG     11  2020          7.591333    Afghanistan
9   Afghanistan  AFG     10  2020         16.460323    Afghanistan
7   Afghanistan  AFG      8  2020         55.408710    Afghanistan
6   Afghanistan  AFG      7  2020         78.700000    Afghanistan

In [ ]:
std_stringency_df.to_csv("cleaned_stringency.csv")

In [17]:
merged_stringency_df =pd.merge(std_countries_slug_df, std_stringency_df, how = "inner", on = "standard_names")
merged_stringency_df = merged_stringency_df[merged_stringency_df["standard_names"] != "not found"]
merged_stringency_df.rename(columns = {"Entity_x": "Entity", "Code" : "ISO3"}, inplace=True)
merged_stringency_df = merged_stringency_df[["Entity" , "standard_names", "slug", "ISO2", "ISO3", "month", "year", "stringency_index"]]
merged_stringency_df.sort_values( by = ["standard_names", "year", "month"], inplace = True, ignore_index=True)
merged_stringency_df.head()

,Entity,standard_names,slug,ISO2,ISO3,month,year,stringency_index
0,Afghanistan,Afghanistan,afghanistan,AF,AFG,1,2020,0.000000
1,Afghanistan,Afghanistan,afghanistan,AF,AFG,2,2020,2.010690
2,Afghanistan,Afghanistan,afghanistan,AF,AFG,3,2020,40.831935
3,Afghanistan,Afghanistan,afghanistan,AF,AFG,4,2020,80.740000
4,Afghanistan,Afghanistan,afghanistan,AF,AFG,5,2020,84.260000

In [ ]:
merged_stringency_df.to_csv("merged_stringency.csv")

In [ ]:
merged_stringency_df = pd.read_csv("merged_stringency.csv")

In [18]:
merged_stringency_df["standard_names"].nunique()

181

In [ ]:
std_countries_slug_df[["Entity"]][~std_countries_slug_df["standard_names"].isin(set(merged_stringency_df["standard_names"]))].drop_duplicates().reset_index(drop = True)

In [ ]:
std_stringency_df[["Entity"]][~std_stringency_df["standard_names"].isin(list(set(merged_stringency_df["standard_names"])))].drop_duplicates().reset_index(drop = True)

In [ ]:
merged_stringency_df= pd.read_csv("merged_stringency.csv")

In [19]:
country_names= list(set(merged_stringency_df['slug']))
country_names.sort()
country_names

['afghanistan',
 'albania',
 'algeria',
 'andorra',
 'angola',
 'argentina',
 'aruba',
 'australia',
 'austria',
 'azerbaijan',
 'bahrain',
 'bangladesh',
 'barbados',
 'belarus',
 'belgium',
 'belize',
 'benin',
 'bermuda',
 'bhutan',
 'bolivia',
 'bosnia-and-herzegovina',
 'botswana',
 'brazil',
 'brunei',
 'bulgaria',
 'burkina-faso',
 'burundi',
 'cambodia',
 'cameroon',
 'canada',
 'cape-verde',
 'central-african-republic',
 'chad',
 'chile',
 'china',
 'colombia',
 'congo-brazzaville',
 'congo-kinshasa',
 'costa-rica',
 'cote-divoire',
 'croatia',
 'cuba',
 'cyprus',
 'czech-republic',
 'denmark',
 'djibouti',
 'dominica',
 'dominican-republic',
 'ecuador',
 'egypt',
 'el-salvador',
 'eritrea',
 'estonia',
 'ethiopia',
 'faroe-islands',
 'fiji',
 'finland',
 'france',
 'gabon',
 'gambia',
 'georgia',
 'germany',
 'ghana',
 'greece',
 'greenland',
 'guam',
 'guatemala',
 'guinea',
 'guyana',
 'haiti',
 'honduras',
 'hong-kong-sar-china',
 'hungary',
 'iceland',
 'india',
 'indonesia',
 'iran',
 'iraq',
 'ireland',
 'israel',
 'italy',
 'jamaica',
 'japan',
 'jordan',
 'kazakhstan',
 'kenya',
 'korea-south',
 'kosovo',
 'kuwait',
 'kyrgyzstan',
 'lao-pdr',
 'latvia',
 'lebanon',
 'lesotho',
 'liberia',
 'libya',
 'lithuania',
 'luxembourg',
 'macao-sar-china',
 'madagascar',
 'malawi',
 'malaysia',
 'mali',
 'malta',
 'mauritania',
 'mauritius',
 'mexico',
 'moldova',
 'monaco',
 'mongolia',
 'morocco',
 'mozambique',
 'myanmar',
 'namibia',
 'nepal',
 'netherlands',
 'new-zealand',
 'nicaragua',
 'niger',
 'nigeria',
 'norway',
 'oman',
 'pakistan',
 'palestine',
 'panama',
 'papua-new-guinea',
 'paraguay',
 'peru',
 'philippines',
 'poland',
 'portugal',
 'puerto-rico',
 'qatar',
 'romania',
 'russia',
 'rwanda',
 'san-marino',
 'saudi-arabia',
 'senegal',
 'serbia',
 'seychelles',
 'sierra-leone',
 'singapore',
 'slovakia',
 'slovenia',
 'solomon-islands',
 'somalia',
 'south-africa',
 'south-sudan',
 'spain',
 'sri-lanka',
 'sudan',
 'suriname',
 'swaziland',
 'sweden',
 'switzerland',
 'syria',
 'taiwan',
 'tajikistan',
 'tanzania',
 'thailand',
 'timor-leste',
 'togo',
 'tonga',
 'trinidad-and-tobago',
 'tunisia',
 'turkey',
 'turkmenistan',
 'uganda',
 'ukraine',
 'united-arab-emirates',
 'united-kingdom',
 'united-states',
 'uruguay',
 'uzbekistan',
 'vanuatu',
 'venezuela',
 'vietnam',
 'yemen',
 'zambia',
 'zimbabwe']

In [ ]:
len(country_names)

In [20]:
country_std_names= list(set(merged_stringency_df['standard_names']))
country_std_names.sort()
country_std_names

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Argentina',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo Republic',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'DR Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faeroe Islands',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Greenland',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'San Marino',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [ ]:
# Target country
# target_country = "India"
lat = []
lng = []
contry_geo_name = []
# Build the endpoint URL
for country in range(len(country_std_names)):
    geo_url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(country_std_names[country], gkey)
    geo_data = requests.get(geo_url).json()
    contry_geo_name.append(geo_data["results"][0]["address_components"][0]["long_name"])
    lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
    lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])
    time.sleep(1)
# pprint(geo_data)

In [ ]:
contry_coord = pd.DataFrame({"Entity": contry_geo_name,
                            "lat": lat,
                            "lng" : lng,
                            "standard_names" : country_std_names})
contry_coord.head()

In [ ]:
contry_coord.to_csv("contry_coord.csv")

In [21]:
contry_coord = pd.read_csv("contry_coord.csv")

In [22]:
contry_coord["Entity"].nunique()

181

In [ ]:
base_url = 'https://api.covid19api.com/total/country/'
# https://api.covid19api.com/total/country/india/status/confirmed
entity = []
confirmed = []
deaths = []
recovered = []
active = []
date = []

In [ ]:
# test_url = "https://api.covid19api.com/total/country/albania"
# covid_response = requests.get(test_url).json()
# print(len(covid_response))

In [ ]:
for country in range(len(country_names)):
    search_url = base_url + country_names[country]
    covid_response = requests.get(search_url).json()
#     print(len(covid_response))
    for i in range(len(covid_response)):
        entity.append(covid_response[i]["Country"])
        confirmed.append(covid_response[i]["Confirmed"])
        deaths.append(covid_response[i]["Deaths"])
        recovered.append(covid_response[i]["Recovered"])
        active.append(covid_response[i]["Active"])
        date.append(covid_response[i]["Date"])
    time.sleep(1)

In [ ]:
global_covid_df = pd.DataFrame({"Entity" : entity,
                               "Confirmed" : confirmed,
                               "Deaths" : deaths,
                               "Recovered" : recovered,
                               "Active" : active,
                               "Date" : date})
global_covid_df.sort_values(by = ["Entity", "Date"], inplace = True, ignore_index= True)
global_covid_df.head(-10)

In [ ]:
search_url = "https://api.covid19api.com/total/country/india"
covid_response = requests.get(search_url).json()
covid_response[0]["Date"]

In [ ]:
global_covid_df.to_csv("global_covid_stats.csv")

In [23]:
global_covid_df = pd.read_csv("global_covid_stats.csv")

global_covid_df.head()

,Unnamed: 0,Entity,Confirmed,Deaths,Recovered,Active,Date
0,0,Afghanistan,0,0,0,0,2020-01-22T00:00:00Z
1,1,Afghanistan,0,0,0,0,2020-01-23T00:00:00Z
2,2,Afghanistan,0,0,0,0,2020-01-24T00:00:00Z
3,3,Afghanistan,0,0,0,0,2020-01-25T00:00:00Z
4,4,Afghanistan,0,0,0,0,2020-01-26T00:00:00Z

In [24]:
global_covid_df["Confirmed_daily"] =global_covid_df["Confirmed"].diff().fillna(0)
global_covid_df["Deaths_daily"] =global_covid_df["Deaths"].diff().fillna(0)
global_covid_df["Recovered_daily"] =global_covid_df["Recovered"].diff().fillna(0)
global_covid_df["Active_daily"] =global_covid_df["Active"].diff().fillna(0)

# num = global_covid_df._get_numeric_data()
# num[num < 0] = 0
global_covid_df.loc[global_covid_df['Confirmed_daily'] < 0 , 'Confirmed_daily'] = global_covid_df["Confirmed"]

global_covid_df = global_covid_df[['Entity','Date', 'Confirmed_daily', 'Deaths_daily', 'Recovered_daily',
       'Active_daily']]
global_covid_df.head(-10)

,Entity,Date,Confirmed_daily,Deaths_daily,Recovered_daily,Active_daily
0,Afghanistan,2020-01-22T00:00:00Z,0.0,0.0,0.0,0.0
1,Afghanistan,2020-01-23T00:00:00Z,0.0,0.0,0.0,0.0
2,Afghanistan,2020-01-24T00:00:00Z,0.0,0.0,0.0,0.0
3,Afghanistan,2020-01-25T00:00:00Z,0.0,0.0,0.0,0.0
4,Afghanistan,2020-01-26T00:00:00Z,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
57044,Zimbabwe,2020-12-04T00:00:00Z,123.0,1.0,48.0,74.0
57045,Zimbabwe,2020-12-05T00:00:00Z,70.0,10.0,42.0,18.0
57046,Zimbabwe,2020-12-06T00:00:00Z,101.0,0.0,36.0,65.0
57047,Zimbabwe,2020-12-07T00:00:00Z,121.0,3.0,92.0,26.0
57048,Zimbabwe,2020-12-08T00:00:00Z,73.0,9.0,90.0,-26.0

In [25]:
global_covid_df["Entity"].nunique()

172

In [ ]:
len(global_covid_df)

In [ ]:
global_covid_df.to_csv("global_covid_daily_test.csv")

In [26]:
global_covid_df['month'] = pd.DatetimeIndex(global_covid_df['Date']).month
global_covid_df['year'] = pd.DatetimeIndex(global_covid_df['Date']).year
global_covid_df.head()

,Entity,Date,Confirmed_daily,Deaths_daily,Recovered_daily,Active_daily,month,year
0,Afghanistan,2020-01-22T00:00:00Z,0.0,0.0,0.0,0.0,1,2020
1,Afghanistan,2020-01-23T00:00:00Z,0.0,0.0,0.0,0.0,1,2020
2,Afghanistan,2020-01-24T00:00:00Z,0.0,0.0,0.0,0.0,1,2020
3,Afghanistan,2020-01-25T00:00:00Z,0.0,0.0,0.0,0.0,1,2020
4,Afghanistan,2020-01-26T00:00:00Z,0.0,0.0,0.0,0.0,1,2020

In [27]:
global_covid_monthly_df = global_covid_df.groupby(["Entity", "month", "year"], as_index = False).agg({"Confirmed_daily": "sum",
                                                                                   "Deaths_daily": "sum",
                                                                                   "Recovered_daily": "sum",
                                                                                   "Active_daily" : "sum"})
global_covid_monthly_df.head(-10)

,Entity,month,year,Confirmed_daily,Deaths_daily,Recovered_daily,Active_daily
0,Afghanistan,1,2020,0.0,0.0,0.0,0.0
1,Afghanistan,2,2020,1.0,0.0,0.0,1.0
2,Afghanistan,3,2020,174.0,4.0,5.0,165.0
3,Afghanistan,4,2020,1952.0,60.0,255.0,1637.0
4,Afghanistan,5,2020,13081.0,194.0,1068.0,11819.0
...,...,...,...,...,...,...,...
2048,Zambia,10,2020,1673.0,17.0,1721.0,-65.0
2049,Zambia,11,2020,1215.0,8.0,1318.0,-111.0
2050,Zambia,12,2020,928.0,16.0,731.0,181.0
2051,Zimbabwe,1,2020,0.0,-373.0,-17729.0,-473.0
2052,Zimbabwe,2,2020,0.0,0.0,0.0,0.0

In [ ]:
len(global_covid_monthly_df)

In [28]:
std_global_covid_monthly_df = pd.merge(global_covid_monthly_df,standardized_names1_df, how = "left", on = "Entity")
std_global_covid_monthly_df.head(-10)

,Entity,month,year,Confirmed_daily,Deaths_daily,Recovered_daily,Active_daily,standard_names
0,Afghanistan,1,2020,0.0,0.0,0.0,0.0,Afghanistan
1,Afghanistan,2,2020,1.0,0.0,0.0,1.0,Afghanistan
2,Afghanistan,3,2020,174.0,4.0,5.0,165.0,Afghanistan
3,Afghanistan,4,2020,1952.0,60.0,255.0,1637.0,Afghanistan
4,Afghanistan,5,2020,13081.0,194.0,1068.0,11819.0,Afghanistan
...,...,...,...,...,...,...,...,...
2048,Zambia,10,2020,1673.0,17.0,1721.0,-65.0,Zambia
2049,Zambia,11,2020,1215.0,8.0,1318.0,-111.0,Zambia
2050,Zambia,12,2020,928.0,16.0,731.0,181.0,Zambia
2051,Zimbabwe,1,2020,0.0,-373.0,-17729.0,-473.0,Zimbabwe
2052,Zimbabwe,2,2020,0.0,0.0,0.0,0.0,Zimbabwe

In [29]:
std_global_covid_monthly_df["standard_names"].nunique()

172

In [30]:
std_global_covid_monthly_stringency_df = pd.merge(std_global_covid_monthly_df, merged_stringency_df , 
                                                  how = "left", on = ["standard_names", "month", "year"])
std_global_covid_monthly_stringency_df = std_global_covid_monthly_stringency_df[['standard_names', 'month', 'year',
        'Confirmed_daily', 'Deaths_daily', 'Recovered_daily', 'Active_daily', 'stringency_index']]
std_global_covid_monthly_stringency_df.head(-10)

,standard_names,month,year,Confirmed_daily,Deaths_daily,Recovered_daily,Active_daily,stringency_index
0,Afghanistan,1,2020,0.0,0.0,0.0,0.0,0.000000
1,Afghanistan,2,2020,1.0,0.0,0.0,1.0,2.010690
2,Afghanistan,3,2020,174.0,4.0,5.0,165.0,40.831935
3,Afghanistan,4,2020,1952.0,60.0,255.0,1637.0,80.740000
4,Afghanistan,5,2020,13081.0,194.0,1068.0,11819.0,84.260000
...,...,...,...,...,...,...,...,...
2048,Zambia,10,2020,1673.0,17.0,1721.0,-65.0,45.818387
2049,Zambia,11,2020,1215.0,8.0,1318.0,-111.0,45.370000
2050,Zambia,12,2020,928.0,16.0,731.0,181.0,45.370000
2051,Zimbabwe,1,2020,0.0,-373.0,-17729.0,-473.0,1.254194
2052,Zimbabwe,2,2020,0.0,0.0,0.0,0.0,8.330000

In [31]:
std_global_covid_monthly_stringency_df["standard_names"].nunique()

172

In [32]:
main_df = pd.merge(std_global_covid_monthly_stringency_df, contry_coord, how = "left", on = "standard_names")
main_df = main_df[['standard_names', 'month', 'year', 'Confirmed_daily', 'Deaths_daily',
       'Recovered_daily', 'Active_daily', 'stringency_index', 'lat','lng']]
main_df.rename(columns = {'Confirmed_daily' : "Confirmed", 'Deaths_daily' : "Deaths",
                           'Recovered_daily': "Recovered", 'Active_daily' : "Active"}, inplace = True)
main_df.head(-10)

,standard_names,month,year,Confirmed,Deaths,Recovered,Active,stringency_index,lat,lng
0,Afghanistan,1,2020,0.0,0.0,0.0,0.0,0.000000,33.939110,67.709953
1,Afghanistan,2,2020,1.0,0.0,0.0,1.0,2.010690,33.939110,67.709953
2,Afghanistan,3,2020,174.0,4.0,5.0,165.0,40.831935,33.939110,67.709953
3,Afghanistan,4,2020,1952.0,60.0,255.0,1637.0,80.740000,33.939110,67.709953
4,Afghanistan,5,2020,13081.0,194.0,1068.0,11819.0,84.260000,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...
2048,Zambia,10,2020,1673.0,17.0,1721.0,-65.0,45.818387,-13.133897,27.849332
2049,Zambia,11,2020,1215.0,8.0,1318.0,-111.0,45.370000,-13.133897,27.849332
2050,Zambia,12,2020,928.0,16.0,731.0,181.0,45.370000,-13.133897,27.849332
2051,Zimbabwe,1,2020,0.0,-373.0,-17729.0,-473.0,1.254194,-19.015438,29.154857
2052,Zimbabwe,2,2020,0.0,0.0,0.0,0.0,8.330000,-19.015438,29.154857

In [33]:
main_df["standard_names"].nunique()

172

In [ ]:
main_df.to_csv("main.csv")

In [ ]:
main_stats_df = main_df.groupby("standard_names", as_index = False).agg({"Confirmed": "sum",
                                                                                   "Deaths": "sum",
                                                                                   "Recovered": "sum",
                                                                                   "Active" : "sum"})
main_stats_df.sort_values('Confirmed', inplace= True, ascending=False, ignore_index=True)

main_stats_df.head(10)

In [ ]:
main_stats_df.sort_values('Confirmed', ascending=True, ignore_index=True)

In [ ]:
main_stats_df[:20].to_csv("main_stats_2020.csv")

In [34]:
popluation_2020 = pd.read_csv("population_by_country_2020.csv")
popluation_2020.head(-10)

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
220,Caribbean Netherlands,26265,0.94 %,244,80,328,NaN,N.A.,N.A.,75 %,0.00 %
221,Palau,18109,0.48 %,86,39,460,NaN,N.A.,N.A.,N.A.,0.00 %
222,Cook Islands,17567,0.09 %,16,73,240,NaN,N.A.,N.A.,75 %,0.00 %
223,Anguilla,15026,0.90 %,134,167,90,NaN,N.A.,N.A.,N.A.,0.00 %
224,Tuvalu,11817,1.25 %,146,393,30,NaN,N.A.,N.A.,62 %,0.00 %

## Get 10 countries around mean, 10 countries with least numbers also

In [35]:
popluation_2020["Country (or dependency)"].nunique()

235

In [39]:
popluation_2020[["Country (or dependency)"]][~popluation_2020["Country (or dependency)"].isin(list(set(main_df["standard_names"])))].drop_duplicates().reset_index(drop = True)

     Country (or dependency)
0              Côte d'Ivoire
1                North Korea
2   Czech Republic (Czechia)
3                  Hong Kong
4                 Kyrgyzstan
..                       ...
66                Montserrat
67          Falkland Islands
68                      Niue
69                   Tokelau
70                  Holy See

[71 rows x 1 columns]

In [37]:
entity3= list(set(popluation_2020["Country (or dependency)"]))
standard_names3 = coco.convert(names=entity3, to='name_short')
standardized_names3_df = pd.DataFrame({"Country (or dependency)" : entity3,
                                      "standard_names": standard_names3}).sort_values(by = "Country (or dependency)").reset_index(drop = True)
standardized_names3_df.head(10)

Channel Islands not found in regex

  Country (or dependency)       standard_names
0             Afghanistan          Afghanistan
1                 Albania              Albania
2                 Algeria              Algeria
3          American Samoa       American Samoa
4                 Andorra              Andorra
5                  Angola               Angola
6                Anguilla             Anguilla
7     Antigua and Barbuda  Antigua and Barbuda
8               Argentina            Argentina
9                 Armenia              Armenia

In [40]:
std_population_df = pd.merge(popluation_2020, standardized_names3_df, how = "left", on = "Country (or dependency)")
std_population_df = std_population_df[["standard_names", "Population (2020)"]].dropna()
std_population_df.head()

  standard_names  Population (2020)
0          China         1440297825
1          India         1382345085
2  United States          331341050
3      Indonesia          274021604
4       Pakistan          221612785

In [41]:
std_population_df["standard_names"].nunique()

235

In [42]:
ultimate_df = pd.merge(main_df, std_population_df, how = "inner", on = "standard_names")
ultimate_df["Infection_rate"] = ((ultimate_df["Confirmed"]/ ultimate_df["Population (2020)"]*100).map("{:.4f}%".format))
ultimate_df = ultimate_df[["standard_names", "month", "year", "Confirmed", "stringency_index"
                          , "lat", "lng", "Population (2020)", "Infection_rate" ]]
ultimate_df.head()

,standard_names,month,year,Confirmed,stringency_index,lat,lng,Population (2020),Infection_rate
0,Afghanistan,1,2020,0.0,0.000000,33.93911,67.709953,39074280,0.0000%
1,Afghanistan,2,2020,1.0,2.010690,33.93911,67.709953,39074280,0.0000%
2,Afghanistan,3,2020,174.0,40.831935,33.93911,67.709953,39074280,0.0004%
3,Afghanistan,4,2020,1952.0,80.740000,33.93911,67.709953,39074280,0.0050%
4,Afghanistan,5,2020,13081.0,84.260000,33.93911,67.709953,39074280,0.0335%

In [43]:
ultimate_df["standard_names"].nunique()

171

In [45]:
main_df[["standard_names"]][~main_df["standard_names"].isin(list(set(ultimate_df["standard_names"])))].drop_duplicates().reset_index(drop = True)

  standard_names
0         Kosovo

In [ ]:
ultimate_df.head(20)

In [ ]:
ultimate_df.to_csv("ultimate.csv")

In [ ]:
ultimate_df = pd.read_csv("ultimate.csv")

In [46]:
ultimate_nan_df = ultimate_df[ultimate_df["stringency_index"].isnull()]
ultimate_nan_df

,standard_names,month,year,Confirmed,stringency_index,lat,lng,Population (2020),Infection_rate
11,Afghanistan,12,2020,3347.0,NaN,33.939110,67.709953,39074280,0.0086%
83,Australia,12,2020,214.0,NaN,-25.274398,133.775136,25550683,0.0008%
95,Austria,12,2020,52457.0,NaN,47.516231,14.550072,9015361,0.5819%
515,Denmark,12,2020,47872.0,NaN,56.263920,9.501785,5795780,0.8260%
563,Ecuador,12,2020,12318.0,NaN,-1.831239,-78.183406,17688599,0.0696%
827,India,12,2020,541790.0,NaN,20.593684,78.962880,1382345085,0.0392%
1043,Lesotho,12,2020,437.0,NaN,-29.609988,28.233608,2145194,0.0204%
1138,Malaysia,12,2020,25119.0,NaN,4.210484,101.975766,32436963,0.0774%
1219,Monaco,9,2020,218.0,NaN,43.738418,7.424616,39290,0.5548%
1220,Monaco,10,2020,141.0,NaN,43.738418,7.424616,39290,0.3589%
1221,Monaco,11,2020,250.0,NaN,43.738418,7.424616,39290,0.6363%
1222,Monaco,12,2020,106.0,NaN,43.738418,7.424616,39290,0.2698%
1306,Netherlands,12,2020,143037.0,NaN,52.132633,5.291266,17141544,0.8344%
1426,Papua New Guinea,12,2020,104.0,NaN,-6.314993,143.955550,8975531,0.0012%
1798,Taiwan,12,2020,84.0,NaN,23.697810,120.960515,23824369,0.0004%
1918,Ukraine,12,2020,218415.0,NaN,48.379433,31.165580,43686577,0.5000%
2026,Yemen,12,2020,2279.0,NaN,15.552727,48.516388,29935468,0.0076%

In [48]:
ultimate_nan_df.to_csv("ultimate_nan.csv", index=False)

In [50]:
ultimate_no_null_df = ultimate_df.dropna()
ultimate_no_null_df.head(20)

,standard_names,month,year,Confirmed,stringency_index,lat,lng,Population (2020),Infection_rate
0,Afghanistan,1,2020,0.0,0.000000,33.939110,67.709953,39074280,0.0000%
1,Afghanistan,2,2020,1.0,2.010690,33.939110,67.709953,39074280,0.0000%
2,Afghanistan,3,2020,174.0,40.831935,33.939110,67.709953,39074280,0.0004%
3,Afghanistan,4,2020,1952.0,80.740000,33.939110,67.709953,39074280,0.0050%
4,Afghanistan,5,2020,13081.0,84.260000,33.939110,67.709953,39074280,0.0335%
5,Afghanistan,6,2020,16299.0,80.182667,33.939110,67.709953,39074280,0.0417%
6,Afghanistan,7,2020,5158.0,78.700000,33.939110,67.709953,39074280,0.0132%
7,Afghanistan,8,2020,1494.0,55.408710,33.939110,67.709953,39074280,0.0038%
8,Afghanistan,9,2020,1109.0,23.520000,33.939110,67.709953,39074280,0.0028%
9,Afghanistan,10,2020,2157.0,16.460323,33.939110,67.709953,39074280,0.0055%
10,Afghanistan,11,2020,4849.0,7.591333,33.939110,67.709953,39074280,0.0124%
12,Albania,1,2020,0.0,0.000000,41.153332,20.168331,2877239,0.0000%
13,Albania,2,2020,0.0,3.545172,41.153332,20.168331,2877239,0.0000%
14,Albania,3,2020,243.0,58.570968,41.153332,20.168331,2877239,0.0084%
15,Albania,4,2020,530.0,86.665000,41.153332,20.168331,2877239,0.0184%
16,Albania,5,2020,364.0,87.421613,41.153332,20.168331,2877239,0.0127%
17,Albania,6,2020,1398.0,70.466000,41.153332,20.168331,2877239,0.0486%
18,Albania,7,2020,2741.0,63.856774,41.153332,20.168331,2877239,0.0953%
19,Albania,8,2020,4237.0,58.125484,41.153332,20.168331,2877239,0.1473%
20,Albania,9,2020,4136.0,54.630000,41.153332,20.168331,2877239,0.1437%

In [51]:
ultimate_no_null_df.to_csv("ultimate_no_null.csv" , index=False)

In [ ]:
ultimate_df["standard_names"].nunique()

In [ ]:
main_df = pd.read_csv("main.csv")

In [ ]:
main_df["standard_names"].nunique()