In [47]:
import csv
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
import time
import datetime
import re

In [38]:
raw_file = pd.read_csv('covid-stringency-index.csv')

In [39]:
raw_file.head()

,Entity,Code,Date,stringency_index,Unnamed: 4,Unnamed: 5,Entity.1
0,Afghanistan,AFG,1/1/2020,0.0,NaN,NaN,Afghanistan
1,Afghanistan,AFG,1/2/2020,0.0,NaN,NaN,Albania
2,Afghanistan,AFG,1/3/2020,0.0,NaN,NaN,Algeria
3,Afghanistan,AFG,1/4/2020,0.0,NaN,NaN,Andorra
4,Afghanistan,AFG,1/5/2020,0.0,NaN,NaN,Angola

In [40]:
clean_file = raw_file.drop(columns = ["Unnamed: 4","Unnamed: 5","Entity.1"])

In [43]:
clean_file["Date"]= pd.to_datetime(clean_file["Date"])
clean_file["Month"] = pd.to_datetime(clean_file["Date"]).dt.to_period('M')
clean_file.head()

        Entity Code       Date  stringency_index    Month
0  Afghanistan  AFG 2020-01-01               0.0  2020-01
1  Afghanistan  AFG 2020-01-02               0.0  2020-01
2  Afghanistan  AFG 2020-01-03               0.0  2020-01
3  Afghanistan  AFG 2020-01-04               0.0  2020-01
4  Afghanistan  AFG 2020-01-05               0.0  2020-01

In [59]:
clean_file["Entity"].str.lower()

0        afghanistan
1        afghanistan
2        afghanistan
3        afghanistan
4        afghanistan
            ...
62260       zimbabwe
62261       zimbabwe
62262       zimbabwe
62263       zimbabwe
62264       zimbabwe
Name: Entity, Length: 62265, dtype: object

In [66]:
grouped_df = clean_file.groupby(["Entity","Month"]).mean()["stringency_index"]
grouped_df

Entity       Month
Afghanistan  2020-01     0.000000
             2020-02     2.010690
             2020-03    40.831935
             2020-04    80.740000
             2020-05    84.260000
                          ...
Zimbabwe     2020-08    80.560000
             2020-09    78.457667
             2020-10    71.300000
             2020-11    69.257667
             2020-12    69.440000
Name: stringency_index, Length: 2147, dtype: float64

In [67]:
grouped_df.to_csv("mean_stringency_by_country_time.csv", index = False, header = True)