In [16]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import scipy.stats as st
from scipy.stats import linregress
import re
from pprint import pprint
import country_converter as coco
import datetime
cc = coco.CountryConverter()

ModuleNotFoundError: No module named 'country_converter'

In [17]:
countries = 'https://api.covid19api.com/countries'

In [18]:
response_countries = requests.get(countries).json()
pprint(response_countries)

[{'Country': 'Central African Republic',
  'ISO2': 'CF',
  'Slug': 'central-african-republic'},
 {'Country': 'Faroe Islands', 'ISO2': 'FO', 'Slug': 'faroe-islands'},
 {'Country': 'France', 'ISO2': 'FR', 'Slug': 'france'},
 {'Country': 'Nicaragua', 'ISO2': 'NI', 'Slug': 'nicaragua'},
 {'Country': 'India', 'ISO2': 'IN', 'Slug': 'india'},
 {'Country': 'Netherlands Antilles',
  'ISO2': 'AN',
  'Slug': 'netherlands-antilles'},
 {'Country': 'Pitcairn', 'ISO2': 'PN', 'Slug': 'pitcairn'},
 {'Country': 'French Polynesia', 'ISO2': 'PF', 'Slug': 'french-polynesia'},
 {'Country': 'Finland', 'ISO2': 'FI', 'Slug': 'finland'},
 {'Country': 'British Indian Ocean Territory',
  'ISO2': 'IO',
  'Slug': 'british-indian-ocean-territory'},
 {'Country': 'Anguilla', 'ISO2': 'AI', 'Slug': 'anguilla'},
 {'Country': 'Martinique', 'ISO2': 'MQ', 'Slug': 'martinique'},
 {'Country': 'Nauru', 'ISO2': 'NR', 'Slug': 'nauru'},
 {'Country': 'Cambodia', 'ISO2': 'KH', 'Slug': 'cambodia'},
 {'Country': 'Oman', 'ISO2': 'OM', 'Slug': 'oman'},
 {'Country': 'US Minor Outlying Islands',
  'ISO2': 'UM',
  'Slug': 'us-minor-outlying-islands'},
 {'Country': 'Greece', 'ISO2': 'GR', 'Slug': 'greece'},
 {'Country': 'Montenegro', 'ISO2': 'ME', 'Slug': 'montenegro'},
 {'Country': 'Myanmar', 'ISO2': 'MM', 'Slug': 'myanmar'},
 {'Country': 'Northern Mariana Islands',
  'ISO2': 'MP',
  'Slug': 'northern-mariana-islands'},
 {'Country': 'Saint Vincent and Grenadines',
  'ISO2': 'VC',
  'Slug': 'saint-vincent-and-the-grenadines'},
 {'Country': 'Kuwait', 'ISO2': 'KW', 'Slug': 'kuwait'},
 {'Country': 'Réunion', 'ISO2': 'RE', 'Slug': 'réunion'},
 {'Country': 'Turks and Caicos Islands',
  'ISO2': 'TC',
  'Slug': 'turks-and-caicos-islands'},
 {'Country': 'Sri Lanka', 'ISO2': 'LK', 'Slug': 'sri-lanka'},
 {'Country': 'Morocco', 'ISO2': 'MA', 'Slug': 'morocco'},
 {'Country': 'Christmas Island', 'ISO2': 'CX', 'Slug': 'christmas-island'},
 {'Country': 'Mozambique', 'ISO2': 'MZ', 'Slug': 'mozambique'},
 {'Country': 'Panama', 'ISO2': 'PA', 'Slug': 'panama'},
 {'Country': 'Cape Verde', 'ISO2': 'CV', 'Slug': 'cape-verde'},
 {'Country': 'Dominican Republic', 'ISO2': 'DO', 'Slug': 'dominican-republic'},
 {'Country': 'Madagascar', 'ISO2': 'MG', 'Slug': 'madagascar'},
 {'Country': 'Mali', 'ISO2': 'ML', 'Slug': 'mali'},
 {'Country': 'Saint Helena', 'ISO2': 'SH', 'Slug': 'saint-helena'},
 {'Country': 'San Marino', 'ISO2': 'SM', 'Slug': 'san-marino'},
 {'Country': 'Republic of Kosovo', 'ISO2': 'XK', 'Slug': 'kosovo'},
 {'Country': 'British Virgin Islands',
  'ISO2': 'VG',
  'Slug': 'british-virgin-islands'},
 {'Country': 'Togo', 'ISO2': 'TG', 'Slug': 'togo'},
 {'Country': 'Indonesia', 'ISO2': 'ID', 'Slug': 'indonesia'},
 {'Country': 'Iraq', 'ISO2': 'IQ', 'Slug': 'iraq'},
 {'Country': 'Saudi Arabia', 'ISO2': 'SA', 'Slug': 'saudi-arabia'},
 {'Country': 'Syrian Arab Republic (Syria)', 'ISO2': 'SY', 'Slug': 'syria'},
 {'Country': 'Colombia', 'ISO2': 'CO', 'Slug': 'colombia'},
 {'Country': 'Bangladesh', 'ISO2': 'BD', 'Slug': 'bangladesh'},
 {'Country': 'Congo (Brazzaville)', 'ISO2': 'CG', 'Slug': 'congo-brazzaville'},
 {'Country': 'El Salvador', 'ISO2': 'SV', 'Slug': 'el-salvador'},
 {'Country': 'Kiribati', 'ISO2': 'KI', 'Slug': 'kiribati'},
 {'Country': 'Mauritius', 'ISO2': 'MU', 'Slug': 'mauritius'},
 {'Country': 'Nigeria', 'ISO2': 'NG', 'Slug': 'nigeria'},
 {'Country': 'Paraguay', 'ISO2': 'PY', 'Slug': 'paraguay'},
 {'Country': 'American Samoa', 'ISO2': 'AS', 'Slug': 'american-samoa'},
 {'Country': 'Qatar', 'ISO2': 'QA', 'Slug': 'qatar'},
 {'Country': 'South Georgia and the South Sandwich Islands',
  'ISO2': 'GS',
  'Slug': 'south-georgia-and-the-south-sandwich-islands'},
 {'Country': 'Trinidad and Tobago',
  'ISO2': 'TT',
  'Slug': 'trinidad-and-tobago'},
 {'Country': 'Peru', 'ISO2': 'PE', 'Slug': 'peru'},
 {'Country': 'Aruba', 'ISO2': 'AW', 'Slug': 'aruba'},
 {'Country': 'Cuba', 'ISO2': 'CU', 'Slug': 'cuba'},
 {'Country': 'Egypt', 'ISO2': 'EG', 'Slug': 'egypt'},
 {'Country': 'Malawi', 'ISO2': 'MW', 'Slug': 'malawi'},
 {'Country': 'Mauritania', 'ISO2': 'MR', 'Slug': 'mauritania'},
 {'Country': 'Nepal', 'ISO2': 'NP', 'Slug': 'nepal'},
 {'Country': 'Taiwan, Republic of China', 'ISO2': 'TW', 'Slug': 'taiwan'},
 {'Country': 'Israel', 'ISO2': 'IL', 'Slug': 'israel'},
 {'Country': 'Libya', 'ISO2': 'LY', 'Slug': 'libya'},
 {'Country': 'Antigua and Barbuda',
  'ISO2': 'AG',
  'Slug': 'antigua-and-barbuda'},
 {'Country': 'Heard and Mcdonald Islands',
  'ISO2': 'HM',
  'Slug': 'heard-and-mcdonald-islands'},
 {'Country': 'Luxembourg', 'ISO2': 'LU', 'Slug': 'luxembourg'},
 {'Country': 'Pakistan', 'ISO2': 'PK', 'Slug': 'pakistan'},
 {'Country': 'Palestinian Territory', 'ISO2': 'PS', 'Slug': 'palestine'},
 {'Country': 'Serbia', 'ISO2': 'RS', 'Slug': 'serbia'},
 {'Country': 'Sweden', 'ISO2': 'SE', 'Slug': 'sweden'},
 {'Country': 'Timor-Leste', 'ISO2': 'TL', 'Slug': 'timor-leste'},
 {'Country': 'South Sudan', 'ISO2': 'SS', 'Slug': 'south-sudan'},
 {'Country': 'Montserrat', 'ISO2': 'MS', 'Slug': 'montserrat'},
 {'Country': 'Congo (Kinshasa)', 'ISO2': 'CD', 'Slug': 'congo-kinshasa'},
 {'Country': 'Malaysia', 'ISO2': 'MY', 'Slug': 'malaysia'},
 {'Country': 'Russian Federation', 'ISO2': 'RU', 'Slug': 'russia'},
 {'Country': 'Solomon Islands', 'ISO2': 'SB', 'Slug': 'solomon-islands'},
 {'Country': 'Sudan', 'ISO2': 'SD', 'Slug': 'sudan'},
 {'Country': 'Turkey', 'ISO2': 'TR', 'Slug': 'turkey'},
 {'Country': 'Cook Islands', 'ISO2': 'CK', 'Slug': 'cook-islands'},
 {'Country': 'Sao Tome and Principe',
  'ISO2': 'ST',
  'Slug': 'sao-tome-and-principe'},
 {'Country': 'Singapore', 'ISO2': 'SG', 'Slug': 'singapore'},
 {'Country': 'Vanuatu', 'ISO2': 'VU', 'Slug': 'vanuatu'},
 {'Country': 'Lesotho', 'ISO2': 'LS', 'Slug': 'lesotho'},
 {'Country': 'Estonia', 'ISO2': 'EE', 'Slug': 'estonia'},
 {'Country': 'Jersey', 'ISO2': 'JE', 'Slug': 'jersey'},
 {'Country': 'Djibouti', 'ISO2': 'DJ', 'Slug': 'djibouti'},
 {'Country': 'Equatorial Guinea', 'ISO2': 'GQ', 'Slug': 'equatorial-guinea'},
 {'Country': 'Tokelau', 'ISO2': 'TK', 'Slug': 'tokelau'},
 {'Country': 'Ecuador', 'ISO2': 'EC', 'Slug': 'ecuador'},
 {'Country': 'Falkland Islands (Malvinas)',
  'ISO2': 'FK',
  'Slug': 'falkland-islands-malvinas'},
 {'Country': 'Tanzania, United Republic of', 'ISO2': 'TZ', 'Slug': 'tanzania'},
 {'Country': 'Uzbekistan', 'ISO2': 'UZ', 'Slug': 'uzbekistan'},
 {'Country': 'Lao PDR', 'ISO2': 'LA', 'Slug': 'lao-pdr'},
 {'Country': 'Brunei Darussalam', 'ISO2': 'BN', 'Slug': 'brunei'},
 {'Country': 'Hungary', 'ISO2': 'HU', 'Slug': 'hungary'},
 {'Country': 'Marshall Islands', 'ISO2': 'MH', 'Slug': 'marshall-islands'},
 {'Country': 'Holy See (Vatican City State)',
  'ISO2': 'VA',
  'Slug': 'holy-see-vatican-city-state'},
 {'Country': 'Lebanon', 'ISO2': 'LB', 'Slug': 'lebanon'},
 {'Country': 'Norway', 'ISO2': 'NO', 'Slug': 'norway'},
 {'Country': 'Bulgaria', 'ISO2': 'BG', 'Slug': 'bulgaria'},
 {'Country': 'Honduras', 'ISO2': 'HN', 'Slug': 'honduras'},
 {'Country': 'Jamaica', 'ISO2': 'JM', 'Slug': 'jamaica'},
 {'Country': 'Poland', 'ISO2': 'PL', 'Slug': 'poland'},
 {'Country': 'Turkmenistan', 'ISO2': 'TM', 'Slug': 'turkmenistan'},
 {'Country': 'Cocos (Keeling) Islands',
  'ISO2': 'CC',
  'Slug': 'cocos-keeling-islands'},
 {'Country': 'Korea (North)', 'ISO2': 'KP', 'Slug': 'korea-north'},
 {'Country': 'Sierra Leone', 'ISO2': 'SL', 'Slug': 'sierra-leone'},
 {'Country': 'Bosnia and Herzegovina',
  'ISO2': 'BA',
  'Slug': 'bosnia-and-herzegovina'},
 {'Country': 'ALA Aland Islands', 'ISO2': 'AX', 'Slug': 'ala-aland-islands'},
 {'Country': 'Australia', 'ISO2': 'AU', 'Slug': 'australia'},
 {'Country': 'Uruguay', 'ISO2': 'UY', 'Slug': 'uruguay'},
 {'Country': 'Kenya', 'ISO2': 'KE', 'Slug': 'kenya'},
 {'Country': 'Liberia', 'ISO2': 'LR', 'Slug': 'liberia'},
 {'Country': 'Saint Lucia', 'ISO2': 'LC', 'Slug': 'saint-lucia'},
 {'Country': 'Tuvalu', 'ISO2': 'TV', 'Slug': 'tuvalu'},
 {'Country': 'Virgin Islands, US', 'ISO2': 'VI', 'Slug': 'virgin-islands'},
 {'Country': 'Albania', 'ISO2': 'AL', 'Slug': 'albania'},
 {'Country': 'Andorra', 'ISO2': 'AD', 'Slug': 'andorra'},
 {'Country': 'Kazakhstan', 'ISO2': 'KZ', 'Slug': 'kazakhstan'},
 {'Country': 'Netherlands', 'ISO2': 'NL', 'Slug': 'netherlands'},
 {'Country': 'Iran, Islamic Republic of', 'ISO2': 'IR', 'Slug': 'iran'},
 {'Country': 'Somalia', 'ISO2': 'SO', 'Slug': 'somalia'},
 {'Country': 'Hong Kong, SAR China',
  'ISO2': 'HK',
  'Slug': 'hong-kong-sar-china'},
 {'Country': "Côte d'Ivoire", 'ISO2': 'CI', 'Slug': 'cote-divoire'},
 {'Country': 'Swaziland', 'ISO2': 'SZ', 'Slug': 'swaziland'},
 {'Country': 'Bolivia', 'ISO2': 'BO', 'Slug': 'bolivia'},
 {'Country': 'Bermuda', 'ISO2': 'BM', 'Slug': 'bermuda'},
 {'Country': 'Svalbard and Jan Mayen Islands',
  'ISO2': 'SJ',
  'Slug': 'svalbard-and-jan-mayen-islands'},
 {'Country': 'Thailand', 'ISO2': 'TH', 'Slug': 'thailand'},
 {'Country': 'Benin', 'ISO2': 'BJ', 'Slug': 'benin'},
 {'Country': 'Antarctica', 'ISO2': 'AQ', 'Slug': 'antarctica'},
 {'Country': 'Burkina Faso', 'ISO2': 'BF', 'Slug': 'burkina-faso'},
 {'Country': 'Seychelles', 'ISO2': 'SC', 'Slug': 'seychelles'},
 {'Country': 'Venezuela (Bolivarian Republic)',
  'ISO2': 'VE',
  'Slug': 'venezuela'},
 {'Country': 'Zambia', 'ISO2': 'ZM', 'Slug': 'zambia'},
 {'Country': 'Germany', 'ISO2': 'DE', 'Slug': 'germany'},
 {'Country': 'Kyrgyzstan', 'ISO2': 'KG', 'Slug': 'kyrgyzstan'},
 {'Country': 'Saint Pierre and Miquelon',
  'ISO2': 'PM',
  'Slug': 'saint-pierre-and-miquelon'},
 {'Country': 'Slovenia', 'ISO2': 'SI', 'Slug': 'slovenia'},
 {'Country': 'United Kingdom', 'ISO2': 'GB', 'Slug': 'united-kingdom'},
 {'Country': 'Belgium', 'ISO2': 'BE', 'Slug': 'belgium'},
 {'Country': 'Eritrea', 'ISO2': 'ER', 'Slug': 'eritrea'},
 {'Country': 'Italy', 'ISO2': 'IT', 'Slug': 'italy'},
 {'Country': 'Namibia', 'ISO2': 'NA', 'Slug': 'namibia'},
 {'Country': 'United States of America', 'ISO2': 'US', 'Slug': 'united-states'},
 {'Country': 'Argentina', 'ISO2': 'AR', 'Slug': 'argentina'},
 {'Country': 'Barbados', 'ISO2': 'BB', 'Slug': 'barbados'},
 {'Country': 'Samoa', 'ISO2': 'WS', 'Slug': 'samoa'},
 {'Country': 'Uganda', 'ISO2': 'UG', 'Slug': 'uganda'},
 {'Country': 'Viet Nam', 'ISO2': 'VN', 'Slug': 'vietnam'},
 {'Country': 'Norfolk Island', 'ISO2': 'NF', 'Slug': 'norfolk-island'},
 {'Country': 'Puerto Rico', 'ISO2': 'PR', 'Slug': 'puerto-rico'},
 {'Country': 'Zimbabwe', 'ISO2': 'ZW', 'Slug': 'zimbabwe'},
 {'Country': 'Gabon', 'ISO2': 'GA', 'Slug': 'gabon'},
 {'Country': 'Guam', 'ISO2': 'GU', 'Slug': 'guam'},
 {'Country': 'Guinea-Bissau', 'ISO2': 'GW', 'Slug': 'guinea-bissau'},
 {'Country': 'Korea (South)', 'ISO2': 'KR', 'Slug': 'korea-south'},
 {'Country': 'Botswana', 'ISO2': 'BW', 'Slug': 'botswana'},
 {'Country': 'Burundi', 'ISO2': 'BI', 'Slug': 'burundi'},
 {'Country': 'Micronesia, Federated States of',
  'ISO2': 'FM',
  'Slug': 'micronesia'},
 {'Country': 'Armenia', 'ISO2': 'AM', 'Slug': 'armenia'},
 {'Country': 'Denmark', 'ISO2': 'DK', 'Slug': 'denmark'},
 {'Country': 'Afghanistan', 'ISO2': 'AF', 'Slug': 'afghanistan'},
 {'Country': 'Cayman Islands', 'ISO2': 'KY', 'Slug': 'cayman-islands'},
 {'Country': 'Chile', 'ISO2': 'CL', 'Slug': 'chile'},
 {'Country': 'Guadeloupe', 'ISO2': 'GP', 'Slug': 'guadeloupe'},
 {'Country': 'Spain', 'ISO2': 'ES', 'Slug': 'spain'},
 {'Country': 'Bouvet Island', 'ISO2': 'BV', 'Slug': 'bouvet-island'},
 {'Country': 'Chad', 'ISO2': 'TD', 'Slug': 'chad'},
 {'Country': 'New Zealand', 'ISO2': 'NZ', 'Slug': 'new-zealand'},
 {'Country': 'Niger', 'ISO2': 'NE', 'Slug': 'niger'},
 {'Country': 'Niue', 'ISO2': 'NU', 'Slug': 'niue'},
 {'Country': 'Switzerland', 'ISO2': 'CH', 'Slug': 'switzerland'},
 {'Country': 'Tonga', 'ISO2': 'TO', 'Slug': 'tonga'},
 {'Country': 'Cyprus', 'ISO2': 'CY', 'Slug': 'cyprus'},
 {'Country': 'Gibraltar', 'ISO2': 'GI', 'Slug': 'gibraltar'},
 {'Country': 'Japan', 'ISO2': 'JP', 'Slug': 'japan'},
 {'Country': 'Mayotte', 'ISO2': 'YT', 'Slug': 'mayotte'},
 {'Country': 'French Southern Territories',
  'ISO2': 'TF',
  'Slug': 'french-southern-territories'},
 {'Country': 'Greenland', 'ISO2': 'GL', 'Slug': 'greenland'},
 {'Country': 'Jordan', 'ISO2': 'JO', 'Slug': 'jordan'},
 {'Country': 'Ethiopia', 'ISO2': 'ET', 'Slug': 'ethiopia'},
 {'Country': 'Rwanda', 'ISO2': 'RW', 'Slug': 'rwanda'},
 {'Country': 'Cameroon', 'ISO2': 'CM', 'Slug': 'cameroon'},
 {'Country': 'Algeria', 'ISO2': 'DZ', 'Slug': 'algeria'},
 {'Country': 'Bahamas', 'ISO2': 'BS', 'Slug': 'bahamas'},
 {'Country': 'Lithuania', 'ISO2': 'LT', 'Slug': 'lithuania'},
 {'Country': 'Mongolia', 'ISO2': 'MN', 'Slug': 'mongolia'},
 {'Country': 'Saint-Barthélemy', 'ISO2': 'BL', 'Slug': 'saint-barthélemy'},
 {'Country': 'Angola', 'ISO2': 'AO', 'Slug': 'angola'},
 {'Country': 'China', 'ISO2': 'CN', 'Slug': 'china'},
 {'Country': 'Latvia', 'ISO2': 'LV', 'Slug': 'latvia'},
 {'Country': 'Tajikistan', 'ISO2': 'TJ', 'Slug': 'tajikistan'},
 {'Country': 'Wallis and Futuna Islands',
  'ISO2': 'WF',
  'Slug': 'wallis-and-futuna-islands'},
 {'Country': 'Croatia', 'ISO2': 'HR', 'Slug': 'croatia'},
 {'Country': 'Czech Republic', 'ISO2': 'CZ', 'Slug': 'czech-republic'},
 {'Country': 'Saint Kitts and Nevis',
  'ISO2': 'KN',
  'Slug': 'saint-kitts-and-nevis'},
 {'Country': 'Tunisia', 'ISO2': 'TN', 'Slug': 'tunisia'},
 {'Country': 'United Arab Emirates',
  'ISO2': 'AE',
  'Slug': 'united-arab-emirates'},
 {'Country': 'Canada', 'ISO2': 'CA', 'Slug': 'canada'},
 {'Country': 'Guatemala', 'ISO2': 'GT', 'Slug': 'guatemala'},
 {'Country': 'Bahrain', 'ISO2': 'BH', 'Slug': 'bahrain'},
 {'Country': 'Gambia', 'ISO2': 'GM', 'Slug': 'gambia'},
 {'Country': 'Grenada', 'ISO2': 'GD', 'Slug': 'grenada'},
 {'Country': 'Macedonia, Republic of', 'ISO2': 'MK', 'Slug': 'macedonia'},
 {'Country': 'Romania', 'ISO2': 'RO', 'Slug': 'romania'},
 {'Country': 'Suriname', 'ISO2': 'SR', 'Slug': 'suriname'},
 {'Country': 'Costa Rica', 'ISO2': 'CR', 'Slug': 'costa-rica'},
 {'Country': 'Azerbaijan', 'ISO2': 'AZ', 'Slug': 'azerbaijan'},
 {'Country': 'Belize', 'ISO2': 'BZ', 'Slug': 'belize'},
 {'Country': 'Moldova', 'ISO2': 'MD', 'Slug': 'moldova'},
 {'Country': 'Portugal', 'ISO2': 'PT', 'Slug': 'portugal'},
 {'Country': 'Ukraine', 'ISO2': 'UA', 'Slug': 'ukraine'},
 {'Country': 'Macao, SAR China', 'ISO2': 'MO', 'Slug': 'macao-sar-china'},
 {'Country': 'South Africa', 'ISO2': 'ZA', 'Slug': 'south-africa'},
 {'Country': 'Palau', 'ISO2': 'PW', 'Slug': 'palau'},
 {'Country': 'Malta', 'ISO2': 'MT', 'Slug': 'malta'},
 {'Country': 'Papua New Guinea', 'ISO2': 'PG', 'Slug': 'papua-new-guinea'},
 {'Country': 'Isle of Man', 'ISO2': 'IM', 'Slug': 'isle-of-man'},
 {'Country': 'Bhutan', 'ISO2': 'BT', 'Slug': 'bhutan'},
 {'Country': 'Iceland', 'ISO2': 'IS', 'Slug': 'iceland'},
 {'Country': 'Ireland', 'ISO2': 'IE', 'Slug': 'ireland'},
 {'Country': 'Slovakia', 'ISO2': 'SK', 'Slug': 'slovakia'},
 {'Country': 'Belarus', 'ISO2': 'BY', 'Slug': 'belarus'},
 {'Country': 'Comoros', 'ISO2': 'KM', 'Slug': 'comoros'},
 {'Country': 'French Guiana', 'ISO2': 'GF', 'Slug': 'french-guiana'},
 {'Country': 'Guernsey', 'ISO2': 'GG', 'Slug': 'guernsey'},
 {'Country': 'Monaco', 'ISO2': 'MC', 'Slug': 'monaco'},
 {'Country': 'Liechtenstein', 'ISO2': 'LI', 'Slug': 'liechtenstein'},
 {'Country': 'Saint-Martin (French part)',
  'ISO2': 'MF',
  'Slug': 'saint-martin-french-part'},
 {'Country': 'Senegal', 'ISO2': 'SN', 'Slug': 'senegal'},
 {'Country': 'Brazil', 'ISO2': 'BR', 'Slug': 'brazil'},
 {'Country': 'Dominica', 'ISO2': 'DM', 'Slug': 'dominica'},
 {'Country': 'Fiji', 'ISO2': 'FJ', 'Slug': 'fiji'},
 {'Country': 'Maldives', 'ISO2': 'MV', 'Slug': 'maldives'},
 {'Country': 'Ghana', 'ISO2': 'GH', 'Slug': 'ghana'},
 {'Country': 'Guinea', 'ISO2': 'GN', 'Slug': 'guinea'},
 {'Country': 'Mexico', 'ISO2': 'MX', 'Slug': 'mexico'},
 {'Country': 'Guyana', 'ISO2': 'GY', 'Slug': 'guyana'},
 {'Country': 'Georgia', 'ISO2': 'GE', 'Slug': 'georgia'},
 {'Country': 'New Caledonia', 'ISO2': 'NC', 'Slug': 'new-caledonia'},
 {'Country': 'Austria', 'ISO2': 'AT', 'Slug': 'austria'},
 {'Country': 'Philippines', 'ISO2': 'PH', 'Slug': 'philippines'},
 {'Country': 'Western Sahara', 'ISO2': 'EH', 'Slug': 'western-sahara'},
 {'Country': 'Yemen', 'ISO2': 'YE', 'Slug': 'yemen'},
 {'Country': 'Haiti', 'ISO2': 'HT', 'Slug': 'haiti'}]

In [19]:
len(response_countries)

248

In [20]:
name = []
slug = []
ISO2 = []
for i in range(len(response_countries)):
    name.append(response_countries[i]["Country"])
    slug.append(response_countries[i]["Slug"])
    ISO2.append(response_countries[i]["ISO2"])

countries_slug_df = pd.DataFrame({"Entity": name,
                                 "slug": slug,
                                 "ISO2": ISO2})
countries_slug_df.head()

                     Entity                      slug ISO2
0  Central African Republic  central-african-republic   CF
1             Faroe Islands             faroe-islands   FO
2                    France                    france   FR
3                 Nicaragua                 nicaragua   NI
4                     India                     india   IN

In [21]:
countries_slug_df.sort_values(by = ["Entity"], inplace = True, ignore_index = True)
countries_slug_df.head()

              Entity               slug ISO2
0  ALA Aland Islands  ala-aland-islands   AX
1        Afghanistan        afghanistan   AF
2            Albania            albania   AL
3            Algeria            algeria   DZ
4     American Samoa     american-samoa   AS

In [22]:
countries_slug_df.to_csv("countries_raw.csv")

In [23]:
len(countries_slug_df)

248

In [24]:
countries_slug_df.describe()

       Entity     slug ISO2
count     248      248  248
unique    248      248  248
top     Samoa  vanuatu   BM
freq        1        1    1

In [25]:
entity1= list(set(countries_slug_df["Entity"]))
standard_names = coco.convert(names=entity1, to='name_short')
standardized_names1_df = pd.DataFrame({"Entity" : entity1,
                                      "standard_names": standard_names}).sort_values(by = "Entity").reset_index(drop = True)
standardized_names1_df.head()

NameError: name 'coco' is not defined

In [26]:
std_countries_slug_df = pd.merge(countries_slug_df, standardized_names1_df, how = "left", left_on='Entity', right_on='Entity')
std_countries_slug_df.sort_values(by = "Entity", inplace = True)
std_countries_slug_df.head()

NameError: name 'standardized_names1_df' is not defined

In [27]:
std_countries_slug_df.to_csv("countries_slug.csv")

NameError: name 'std_countries_slug_df' is not defined

store response_countries in to a df.
Import csv into a df.
parse the country name column to add hyphens replacing spaces.
do a lookup on response_countries df to get the slugs.
create for loop to check all the slugs and make separate api calls.

In [6]:
stringency_df = pd.read_csv("covid-stringency-index.csv")
stringency_df.head()

        Entity Code      Date  stringency_index
0  Afghanistan  AFG  1/1/2020               0.0
1  Afghanistan  AFG  1/2/2020               0.0
2  Afghanistan  AFG  1/3/2020               0.0
3  Afghanistan  AFG  1/4/2020               0.0
4  Afghanistan  AFG  1/5/2020               0.0

In [7]:
len(stringency_df)

62265

In [8]:
stringency_df["Entity"].nunique()

181

In [9]:
stringency_df['month'] = pd.DatetimeIndex(stringency_df['Date']).month
stringency_df['year'] = pd.DatetimeIndex(stringency_df['Date']).year
stringency_df.head()

        Entity Code      Date  stringency_index  month  year
0  Afghanistan  AFG  1/1/2020               0.0      1  2020
1  Afghanistan  AFG  1/2/2020               0.0      1  2020
2  Afghanistan  AFG  1/3/2020               0.0      1  2020
3  Afghanistan  AFG  1/4/2020               0.0      1  2020
4  Afghanistan  AFG  1/5/2020               0.0      1  2020

In [10]:
stringency_df.loc[stringency_df['Entity'] == "Timor", 'Entity'] = "Timor-leste"

In [11]:
stringency_df.describe()

       stringency_index         month     year
count      62265.000000  62265.000000  62265.0
mean          49.679238      6.182109   2020.0
std           29.292449      3.279415      0.0
min            0.000000      1.000000   2020.0
25%           25.930000      3.000000   2020.0
50%           54.630000      6.000000   2020.0
75%           74.070000      9.000000   2020.0
max          100.000000     12.000000   2020.0

In [12]:
stringency_df.loc[stringency_df['Entity'] == "Timor-leste"]

            Entity Code        Date  stringency_index  month  year
55597  Timor-leste  TLS    1/1/2020              0.00      1  2020
55598  Timor-leste  TLS    1/2/2020              0.00      1  2020
55599  Timor-leste  TLS    1/3/2020              0.00      1  2020
55600  Timor-leste  TLS    1/4/2020              0.00      1  2020
55601  Timor-leste  TLS    1/5/2020              0.00      1  2020
...            ...  ...         ...               ...    ...   ...
55941  Timor-leste  TLS  12/10/2020             27.78     12  2020
55942  Timor-leste  TLS  12/11/2020             27.78     12  2020
55943  Timor-leste  TLS  12/12/2020             27.78     12  2020
55944  Timor-leste  TLS  12/13/2020             27.78     12  2020
55945  Timor-leste  TLS  12/14/2020             27.78     12  2020

[349 rows x 6 columns]

In [13]:
entity2= list(set(stringency_df["Entity"]))
standard_names2 = coco.convert(names=entity2, to='name_short')
standardized_names2_df = pd.DataFrame({"Entity" : entity2,
                                      "standard_names": standard_names2}).sort_values(by = "Entity").reset_index(drop = True)
standardized_names2_df.head(10)

NameError: name 'coco' is not defined

In [ ]:
cleaned_stringency_df = stringency_df.groupby(by = ["Entity", "Code", "month", "year"], as_index = False)["stringency_index"].mean()
cleaned_stringency_df.head(-10)

In [ ]:
std_stringency_df = pd.merge(cleaned_stringency_df, standardized_names2_df, how = "left", left_on='Entity', right_on='Entity')
std_stringency_df.sort_values(by = "Entity", inplace = True)
std_stringency_df.head()

In [ ]:
std_stringency_df.to_csv("cleaned_stringency.csv")

In [ ]:
merged_stringency_df =pd.merge(std_countries_slug_df, std_stringency_df, how = "inner", on = "standard_names")
merged_stringency_df = merged_stringency_df[merged_stringency_df["standard_names"] != "not found"]
merged_stringency_df.rename(columns = {"Entity_x": "Entity", "Code" : "ISO3"}, inplace=True)
merged_stringency_df = merged_stringency_df[["Entity" , "standard_names", "slug", "ISO2", "ISO3", "month", "year", "stringency_index"]]
merged_stringency_df.sort_values( by = ["standard_names", "year", "month"], inplace = True, ignore_index=True)
merged_stringency_df.head()

In [ ]:
merged_stringency_df.to_csv("merged_stringency.csv")

In [ ]:
merged_stringency_df["standard_names"].nunique()

In [ ]:
std_countries_slug_df[["Entity"]][~std_countries_slug_df["standard_names"].isin(set(merged_stringency_df["standard_names"]))].drop_duplicates().reset_index(drop = True)

In [ ]:
std_stringency_df[["Entity"]][~std_stringency_df["standard_names"].isin(list(set(merged_stringency_df["standard_names"])))].drop_duplicates().reset_index(drop = True)

In [ ]:
country_names= list(set(merged_stringency_df['slug']))
country_names.sort()
country_names

In [ ]:
len(country_names)

In [ ]:
base_url = 'https://api.covid19api.com/total/country/'
# https://api.covid19api.com/total/country/india/status/confirmed
entity = []
confirmed = []
deaths = []
recovered = []
active = []
date = []

In [ ]:
for country in range(181):
    searc_url = base_url + country_names[country]
    covid_response = requests.get(searc_url).json()
    for i in range(len(covid_response)):
        entity.append(covid_response[i]["Country"])
        confirmed.append(covid_response[i]["Confirmed"])
        deaths.append(covid_response[i]["Deaths"])
        recovered.append(covid_response[i]["Recovered"])
        active.append(covid_response[i]["Active"])
        date.append(covid_response[i]["Date"])
    time.sleep(1)

In [ ]:
pprint(covid_response)

In [ ]:
global_covid_df = pd.DataFrame({"Entity" : entity,
                               "Confirmed" : confirmed,
                               "Deaths" : deaths,
                               "Recovered" : recovered,
                               "Active" : active,
                               "Date" : date})
global_covid_df.sort_values(by = ["Entity", "Date"], inplace = True, ignore_index= True)
global_covid_df.head(-10)

In [14]:
search_url = "https://api.covid19api.com/total/country/india"
covid_response = requests.get(search_url).json()
covid_response[0]["Date"]

'2020-01-22T00:00:00Z'

>>> import re
>>> s = "How are you"
>>> print re.sub('\s', '-', s)

In [15]:
global_covid_df.to_csv("global_covid_stats.csv")

NameError: name 'global_covid_df' is not defined